@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}

.app-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

/* This stuff below needs to be added in a more scoped way but I 'll need help with that */
div.p-fieldset-content {
  display: flex;
  flex-direction: column;
}

legend {
  padding: 10px 15px !important;
border-radius: 0px !important;
font-size: 1rem;
}

.filter-panel .p-panel-header {
  border-top-left-radius: 0px !important;
}

.content-panel  .p-card-body {
margin: 10px 0;
}
